* { margin: 0; padding: 0; box-sizing: border-box;}
ul {list-style-type: none;}
a { text-decoration: none;}

body {

    font-family: 'Stylish', sans-serif;
}
#main {
    width: 100%;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 60px;
    background: #727b49;
    color: #fff;
 
}
header h1 {
    line-height: 75px;
    margin-left: 20px;
    font-size: 32px;
    letter-spacing: 3px;
}
#visual {
    width: 100%;
    background: #ccc;
}

.slider {
    width: 100%;
    /* outline:  1px solid red; */
    overflow: hidden;
}
.slider .sliders {
    width: calc(100% * 3);
    margin-left: calc(-100% * 0);
    transition-duration: 0.5s;
}
.slider > .sliders > img {
    width: 33.33%;
    float: left;
    opacity: 1;
}
#info {
    width: 100%;
    background: #faf1e9;
}
#info img {
    width: 100%;
}

#invite {
    width: 100%;
    background: #faf1e9;
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-size: 100%;
    
}

#invite h2 {
    width: 100%;
    height: 60px;
    color: #fff;
    background: #727b49;
    text-align: center;
    line-height: 60px;
}
.i-container {
    width: 100%;
}
.txt {
    width: 100%;
    /* outline: 1px solid red; */
    text-align: center;

    
}
.txt p { 
    margin-top: 30px;
    font-size: 13px;
    line-height: 22px;
}

.txt2 {
    width: 100%;
    /* outline: 1px solid red; */
    text-align: center;
}
.txt2 {
    margin-top: 30px;
    font-size: 13px;
    letter-spacing: 3px;
}
.txt2 span {
    margin-left: 20px;
    letter-spacing: 0;
}
.call {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    background: #727b49;

}

.call img {
    /* outline: 1px solid red; */
    width: 5%;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: -5px;
    margin-left: -5px;
}
.call p {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 13px;
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 10px;
}

#gallery {
    width: 100%;
}
#gallery h2 {
    width: 100%; height: 60px;
    text-align: center;
    line-height: 60px;
    background: #fff;
    border-bottom: 3px solid #727b49;
    color: #727b49;
}

.box-container {
    width: 100%;
    margin-top: 30px;
    /* outline: 1px solid red; */
    background: url(./images/bg2.jpg);
    background-repeat: no-repeat;
}
.box-container ul li {
    position: relative;
    width: calc((100% - 20px) / 3);
    float: left;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 5px;
}
.box-container ul li:last-of-type {
    margin-right: 0;
}
/* 모션 확대 효과 */
.box-container ul li img { transition: 0.5s; width: 100%;}
.box-container ul li:hover img {
  transform: scale(1.2);
}
#location {
    clear: both;
    width: 100%;
}
#location h2 {
    width: 100%;
    text-align: center;
    background: #727b49;
    color: #fff;
    line-height: 60px;
}

#location .l-txt {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    /* outline: 1px solid red; */
    background: #faf1e9;
}
.l-txt p {
    font-size: 13px;
}
.l-txt p:first-child {
    padding-top: 10px;
}
.l-txt p:nth-child(2) {
    color: #727b49;
}
iframe {
    width: 100%;
}